@charset 'UTF-8';

/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,select{display:block}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{width:100%;border-collapse:collapse;border-spacing:0}
img{vertical-align:top;outline:none;border:none}
iframe,textarea{vertical-align:top;}
address{font-style:normal}


body { position:relative; word-wrap:break-word; font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; font-size:18px; box-sizing:border-box; overflow-x:hidden; }

section { position:relative; width:100%; height:auto; }
a { color:#000; text-decoration:none; cursor:pointer; }

.__cor { font-family:Cormorant; }


.btn_all { position:relative; }
.btn_all a { text-decoration:none; }
.btn_all p { position:absolute; top:4.27vw; left:5.33vw; font-family:Cormorant; font-size:5.33vw; font-style:italic; font-weight:700; line-height:normal; }
.btn_all p:after { content:''; position:absolute; bottom:-.53vw; left:0; width:100%; height:1px; background:#fff; }
.__grey { color:#fff; background: linear-gradient(314deg, #222 -1.09%, #656464 98.91%); }
.__white { color:#000; background: linear-gradient(134deg, #FFF 38.28%, #EFEFEF 99.05%); }
.__white p:after { content:''; position:absolute; bottom:-.53vw; left:0; width:100%; height:1px; background:#000; }



/* intro - gnb */
.gnb { display:flex; position:absolute; top:0; left:0; margin:8px 60px; width:calc(100% - 120px); height:48px; color:#fff; font-size:16px; font-weight:700; z-index:10; }
.gnb > * { position:absolute; height:40px; line-height:40px; }
.gnb > * a { display:flex; width:fit-content; height:inherit; color:#fff; line-height:inherit; cursor:pointer; }
.gnb > * a .__icon { padding:10px; width:20px; height:20px; }
.gnb > * a .__icon.ic-menu { background:url(../img/ic_menu.svg) no-repeat center center; }
.gnb > * a .__icon.ic-search { background:url(../img/ic_search.svg) no-repeat center center; }
.gnb > * a .__icon.ic-mypage { background:url(../img/ic_mypage.svg) no-repeat center center; }
.gnb > * a .__icon.ic-cart { background:url(../img/ic_cart.svg) no-repeat center center; }

.gnb .logo { left:50%; transform:translateX(-50%); width:121px; height:fit-content; background:url(../img/logo.svg) no-repeat center center; background-size:100% auto; text-indent:-9999em; cursor:pointer; }
.gnb .gnb_left { display:flex; gap:16px; position:absolute; left:0; top:0; width:fit-content; height:inherit; }
.gnb .gnb_right { display:flex; gap:16px; position:absolute; right:0; top:0; width:fit-content; height:inherit; }


/* intro - main */
.bn_topper { height:32px; background:#000; }
.bn_topper h6 { color:#FFF; font-size:12px; font-style:normal; font-weight:700; line-height:32px; text-align:center; }

.intro { height:100vh; }
.intro .main_visual { position:relative; width:100%; height:calc(100vh - 32px); overflow:hidden; }
.intro .main_visual .swiper-slide { width:calc(100% / 3); }
.intro .main_visual .swiper-slide picture { display:block; width:100%; height:calc(100vh - 32px); }
.intro .main_visual .swiper-slide img { width:100%; height:100%; object-fit:cover; }

.intro .main_visual .swiper-controller { display:flex; justify-content:center; align-items:center; position:absolute; bottom:40px; left:50%; transform:translateX(-50%); width:388px; height:24px;  z-index:5; }
.intro .main_visual .swiper-controller .swiper-pagination { width:320px; height:2px; background:#ddd; }
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill { background:#000; }

.intro .main_visual .swiper-controller .swiper-button-prev { left:0; margin-top:-12px; width:24px; height:24px; background:url(../img/ic_arrow_left.svg) no-repeat center center !important; background-size:100% auto; }
.intro .main_visual .swiper-controller .swiper-button-next { right:0; margin-top:-12px; width:24px; height:24px; background:url(../img/ic_arrow_right.svg) no-repeat center center !important; background-size:100% auto; }

.intro .txt_area { position:absolute; bottom:80px; left:48px; width:fit-content; height:76px; color:#fff; }
.intro .txt_area p { font-family:'cormorant'; font-size:24px; letter-spacing:-.48px; }
.intro .txt_area h2 { font-size:36px; font-weight:700; }


/* sub */
.sub .__inner { display:flex; flex-wrap:wrap; width:100%; }
.sub .__inner a { position:relative; }

.item_wrap { display:flex; flex-wrap:wrap; }
.item_wrap .__item { width:50%; }
.item_wrap a { display:block; width:100%; height:auto; overflow:hidden; }
.item_wrap a .visual_area, .item_wrap a .visual_area picture { width:100%; }
.item_wrap a .visual_area img { width:inherit; transform:scale(1); opacity:1; transition:all 1s ease; cursor:pointer; }
.item_wrap a:hover img { transform:scale(1.12); opacity:1; }


.sub .__inner .txt_area { position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); }
.sub .__inner .txt_area p { color:#fff; font-size:20px; font-weight:700; letter-spacing:4px; text-transform:uppercase; text-decoration:underline; }


/* footer */
.footer { position:relative; padding:32px 0; z-index:10; overflow:visible; }
.footer .__inner { background:#fff; }

.footer ul { display:flex; gap:12px 24px; flex-wrap:wrap; justify-content:center; margin:0 auto; width:fit-content; background:#fff; }
.footer ul li a { position:relative; color:#000; font-size:12px; font-weight:600; text-align:center; text-decoration:none; text-align:center; }
.footer ul li .foot_wrap { display:none; opacity:0; position:absolute; left:0; transform:translateY(0); padding-top:16px; width:100%; font-size:10px; line-height:12px; pointer-events:none; transition:transform 0.35s ease, opacity 0.25s ease; z-index:-1; background:#fff; }
.footer ul li .foot_wrap:before { content:''; position:absolute; bottom:-40px; left:0; width:100%; height:40px; background:#fff; z-index:-1; }
.footer li.active .foot_wrap { opacity: 1; pointer-events:auto; }
.footer ul li .foot_wrap .foot_inner { margin:0 auto; width:fit-content; }

.footer ul + p { margin-top:16px; color:#999; font-size:10px; font-weight:500; text-align:center; }


@media (max-width: 1152px) {

    /* intro - gnb */
    .gnb { margin:8px 16px; width:calc(100% - 32px); }
    .gnb .gnb_left, .gnb .gnb_right { gap:4px; }
    .gnb .gnb_left a, .gnb .gnb_right a { text-indent:-9999em; }


    /* intro - main */
    .intro { height:calc(75.65vw + 32px); }
    .intro .main_visual { height:75.65vw; }
    .intro .main_visual .swiper-slide { width:50vw; height:100%; }
    .intro .main_visual .swiper-slide picture, .intro .main_visual .swiper-slide picture img { height:100%; }

    .intro .main_visual .swiper-controller { bottom:2.6vw; width:50.52vw; }
    .intro .main_visual .swiper-controller .swiper-pagination { width:41.67vw; }

    .intro .txt_area { bottom:7.81vw; left:3.65vw; height:8.59vw; }
    .intro .txt_area p { font-size:2.6vw; letter-spacing:-.05vw; }
    .intro .txt_area h2 { font-size:4.17vw; }


    /* sub */
    .sub .__inner .txt_area p { font-size:1.81vw; letter-spacing:.36vw; }


    /* footer */
    .footer ul { width:273px; }

}

@media (max-width: 500px) {

    /* intro - main */
    .intro { height:100vh; }
    .intro .main_visual { height:calc(100vh - 32px); }
    .intro .main_visual .swiper-slide { width:100vw; height:calc(100vh - 32px); }

    .intro .main_visual .swiper-controller { bottom:5.33vw; width:87.2vw; height:24px; }
    .intro .main_visual .swiper-controller .swiper-pagination { width:72.27vw; }

    .intro .txt_area { bottom:14.4vw; left:6.4vw; height:17.6vw; }
    .intro .txt_area p { font-size:5.33vw; letter-spacing:-.11vw; }
    .intro .txt_area h2 { font-size:8.53vw; }


    /* sub */
    .item_wrap { padding:4.27vw; gap:4.27vw; }
    .item_wrap + .item_wrap { padding-top:0; }
    .item_wrap .__item { width:100%; }

    .sub .__inner .txt_area p { font-size:3.2vw; letter-spacing:.64vw; }


    /* footer */
    .footer ul { gap:3.2vw 6.4vw; width:72.2vw; }
    .footer ul li a { font-size:3.2vw; }
    .footer ul li .foot_wrap { padding-top:4vw; font-size:2.67vw; line-height:4vw; }
    .footer ul li .foot_wrap .foot_inner { width:72vw; }

    .footer ul + p { margin-top:4.27vw; font-size:2.67vw; }    

}